@model List<ASPNETMVCCRUD.Models.Domain.Vehicle>

@{
}

<h1>Vehicles</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>VehicleModel</th>
            <th>Cost</th>
            <th>Year</th>
            <th>CarShop</th>
            <th>Email</th>
            <th> </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model)
        {
            <tr>
                <td>@vehicle.Id</td>
                <td>@vehicle.Name</td>
                <td>@vehicle.VehicleModel</td>
                <td>@vehicle.Cost</td>
                <td>@vehicle.Year.ToString("dd-MM-yyyy")</td>
                <td>@vehicle.CarShop</td>
                <td>@vehicle.Email</td>
                <td><a href="Vehicles/View/@vehicle.Id">View</a></td>



            </tr>
        }
    </tbody>
</table>